.container {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 5px;
    // height: 100vh;
    img{
width: 370px;
margin-top: 50px;
padding: 5px;
    }
}

@media (max-width: 770px) {
    .container{
        margin: 0 10%;
        img{
            width: 100%;
        }
    }
}